<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyi.framework.dtomapper.CommonMapper">
	 
    <select id="findMenusByUserid" resultType="com.sanyi.framework.model.ProtectedResource">	 
			SELECT t3.*,t3.title as text,t3.url as link  FROM  t_user_roles t1 left join t_role_protected_resources t2 on t1.roles_id = t2.role_id
		left join t_protected_resource t3 on t3.id = t2.protected_resources_id
		where t1.user_id = #{userId} and t3.deleted is false and t3.tyle ='menu'  order by sortindex asc
   </select>
   	<select id="findFontProtectedResourceByUserid" resultType="com.sanyi.framework.model.ProtectedResource">	 
			SELECT t3.* FROM  t_user_roles t1 left join t_role_protected_resources t2 on t1.roles_id = t2.role_id
		left join t_protected_resource t3 on t3.id = t2.protected_resources_id
		where t1.user_id = #{userId} and t3.deleted is false and t3.tyle !='url' order by sortindex asc
   	</select>
   	<select id="selectDictionary" resultType="com.sanyi.framework.model.Dictionary">
       	 SELECT t1.*,t2.`dictsortName` as sortName
       	 FROM t_dictionary t1 LEFT JOIN t_dictsort t2 ON t1.`dsId` = t2.id WHERE t1.`deleted` = FALSE 
       	 <if test="query!=null">
           <if test="query.query.dicName!=null and query.query.dicName!=''">
              AND t1.dicName like '%${query.query.dicName}%'
       	   </if>
       	   <if test="query.query.sortName!=null and query.query.sortName!=''">
              AND t2.dictsortName like '%${query.query.sortName}%'
       	   </if>
       	</if>
         ORDER BY t2.dictsortName desc 
    </select>
    <select id="selectLienPersonnel" resultType="com.sanyi.framework.model.LienPersonnel">
      SELECT t1.*,t2.dicName AS kanhuLiLiangString,t3.dicName AS cbDepartmentString, t4.title as roomName ,t5.title as bedName FROM t_lien_personnel t1
      	LEFT JOIN t_dictionary t2 ON t1.kanhuLiLiang = t2.id 
      		LEFT JOIN t_dictionary t3 ON t1.cbDepartment = t3.id
			   LEFT JOIN t_room t4 ON t1.roomNum = t4.id
			   LEFT JOIN t_bed t5 ON t1.bedNum = t5.id
			      WHERE t1.deleted = FALSE
 	  <if test="query!=null">
           <if test="query.query.daiHao!=null and query.query.daiHao!=''">
              AND t1.daiHao = #{query.query.daiHao}
       	   </if>
          <if test="query.query.cbDepartment!=null and query.query.cbDepartment!=''">
              AND t1.cbDepartment = #{query.query.cbDepartment}
          </if>
       	   <if test="query.query.outStatus!=null and query.query.outStatus!=''">
              AND t1.outStatus = #{query.query.outStatus}
       	   </if>
       	   <if test="query.query.start!=null and query.query.start!='' and query.query.end!=null and query.query.end!=''">
              AND t1.enterTime between #{query.query.start} and  #{query.query.end}
       	   </if>
       </if>
       <choose>
           <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
               ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
           </when>
           <otherwise>
               ORDER BY createtime DESC
           </otherwise>
       </choose>
	</select>
    <select id="selectHealth" resultType="com.sanyi.framework.model.Health">
		SELECT t1.*,t2.roomNum AS roomNum,t2.`daiHao` as daihao,t2.lzSex AS lzSex,t2.createtime AS jinzhuriqi,t2.lzAge as lzAge,t3.title as roomNumName,t4.title as bedName
		FROM t_health t1
		LEFT JOIN t_lien_personnel t2 ON t1.lpId = t2.id
		LEFT JOIN t_room t3 ON t2.roomNum = t3.id
		LEFT JOIN t_bed t4 ON t2.bedNum = t4.id
		WHERE t1.`deleted` = FALSE
      <if test="query!=null">
           <if test="query.query.status!=null and query.query.status!=''">
              AND t1.status = #{query.query.status}
       	   </if>
       	   <if test="query.query.daihao!=null and query.query.daihao!=''">
              AND t2.daihao like '%${query.query.daihao}%'
       	   </if>
       	   <if test="query.query.yihurenyuan!=null and query.query.yihurenyuan!=''">
              AND t2.yihurenyuan = #{query.query.yihurenyuan}
       	   </if>
       	   <if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t1.lpId = #{query.query.lpId} 
       	   </if>
		  <if test="query.query.outStatus!=null and query.query.outStatus!=''">
			  AND t2.outStatus = #{query.query.outStatus}
		  </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY t1.createtime DESC
                </otherwise>
            </choose>
       </if>
    </select>
    <select id="selectDrug" resultType="com.sanyi.framework.model.Drug">
       	   SELECT t1.*,t2.`dicName` AS drugNameString,t1.drugTotalCount * t1.price as cost
       	   FROM t_drug t1 LEFT JOIN t_dictionary t2 ON t1.drugName = t2.`id` WHERE t1.deleted = FALSE
      <if test="query!=null">
       	   <if test="query.query.drugNameString!=null and query.query.drugNameString!=''">
              AND t2.dicName like '%${query.query.drugNameString}%'
       	   </if>

          <if test="query.query.start!=null and query.query.start!='' and query.query.end!=null and query.query.end!=''">
              AND t1.createtime between #{query.query.start} and  #{query.query.end}
          </if>
       </if>
       <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
       </choose>
    </select>
    <select id="selectHealthDrugRelate" resultType="com.sanyi.framework.model.HealthDrugRelate">
       	 SELECT t1.*,t5.dicName as yongfa,t4.dicName as pinciString,t3.dicName as guigeString,t2.dicName as drugName,t6.dicName AS projectName
       	  FROM t_health_drugs  t1 LEFT JOIN t_dictionary t2 ON t1.`dId` = t2.`id`
       	  LEFT JOIN t_dictionary t3 ON t1.danwei= t3.id  
       	  LEFT JOIN t_dictionary t4 ON t1.pinci= t4.id
       	  LEFT JOIN t_dictionary t5 ON t1.remark= t5.id
		  LEFT JOIN t_dictionary AS t6 ON t6.id = t1.jianchaProject
 			WHERE t1.deleted = FALSE
      <if test="query!=null">
           <if test="query.query.healthId!=null and query.query.healthId!=''">
              AND t1.healthId = #{query.query.healthId}
       	   </if>
       	   <if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t1.lpId = #{query.query.lpId}
       	   </if>
       	   <if test="query.query.yongyaoType!=null and query.query.yongyaoType!=''">
              AND t1.yongyaoType = #{query.query.yongyaoType}
       	   </if>
       </if>
         ORDER BY t1.kaishiTime ASC
    </select>
    <select id="selectBaozhangshenqing" resultType="com.sanyi.framework.model.Baozhangshenqing">
       	  SELECT t1.*,t2.daiHao as daihao,t2.lzName as lpName,t2.lzSex as lzSex,t2.lzAge as lzAge,t2.lzZhiJi as lpZhiji,t2.enterTime as lpTime
       	 FROM t_baozhangshenqing t1 LEFT JOIN t_lien_personnel t2 ON t1.lpId = t2.id WHERE t1.`deleted` = FALSE
      <if test="query!=null">
       	   <if test="query.query.daihao!=null and query.query.daihao!=''">
              AND t2.daihao like '%${query.query.daihao}%'
       	   </if>
       	    <if test="query.query.bumen!=null and query.query.bumen!=''">
              AND t1.bumen = #{query.query.bumen}
       	   </if>
       	   <if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t1.lpId = #{query.query.lpId} 
       	   </if>
       	    <if test="query.query.applyStatus!=null and query.query.applyStatus!=''">
              AND t1.applyStatus = #{query.query.applyStatus} 
       	   </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
            </choose>
       </if>
    </select>
    <select id="selectTanhuashenqing" resultType="com.sanyi.framework.model.Tanhuashenqing">
       	  SELECT t1.*,t2.daiHao as daiHao,t2.lzName as lpName,t2.lzSex as lzSex,t2.lzAge as lzAge,t2.lzZhiJi as lpZhiji,t2.enterTime as lpTime
       	 FROM t_tanhuashenqing t1 LEFT JOIN t_lien_personnel t2 ON t1.lpId = t2.id WHERE t1.`deleted` = FALSE and t2.deleted = false
      <if test="query!=null">
       	   <if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t1.lpId = #{query.query.lpId} 
       	   </if>
       	   <if test="query.query.bumen!=null and query.query.bumen!=''">
              AND t1.bumen = #{query.query.bumen} 
       	   </if>
       	   <if test="query.query.daihao!=null and query.query.daihao!=''">
              AND t2.daihao like '%${query.query.daihao}%'
       	   </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod},t2.daiHao DESC
                </when>
                <otherwise>
                    ORDER BY createtime desc
                </otherwise>
            </choose>
       </if>
    </select>
<!--	&lt;!&ndash;谈话房间预约&ndash;&gt;-->
<!--	<select id="selectTanhuayuyue" resultType="com.sanyi.framework.model.TanhuaOrder">-->
<!--		SELECT t1.id,t1.tianbaoren,t1.bumen,t1.createtime,t1.deleted,t1.starttime,t1.endtime,t1.lpId,t1.roomNo,t1.braceletid,-->
<!--		t1.createrid,t1.title,t2.daiHao,t3.dicName AS bumenName-->
<!--		FROM t_tanhua_room_order AS t1 LEFT JOIN t_lien_personnel AS t2 ON t2.id = t1.lpId-->
<!--		LEFT JOIN t_dictionary AS t3 ON t3.id = t1.bumen WHERE-->
<!--		t1.deleted = 0-->
<!--		<if test="query!=null">-->
<!--			<if test="query.query.lpId!=null and query.query.lpId!=''">-->
<!--				AND t1.lpId = #{query.query.lpId}-->
<!--			</if>-->
<!--			<if test="query.query.bumen!=null and query.query.bumen!=''">-->
<!--				AND t1.bumen = #{query.query.bumen}-->
<!--			</if>-->
<!--			<if test="query.query.daihao!=null and query.query.daihao!=''">-->
<!--				AND t2.daihao like '%${query.query.daihao}%'-->
<!--			</if>-->
<!--			<choose>-->
<!--				<when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">-->
<!--					ORDER BY ${query.sort.sortName} ${query.sort.directionMethod},t2.daiHao DESC-->
<!--				</when>-->
<!--				<otherwise>-->
<!--					ORDER BY createtime desc-->
<!--				</otherwise>-->
<!--			</choose>-->
<!--		</if>-->
<!--	</select>-->


	<!--看护管理 -每日情况列表 -->
    <select id="selectNurse" resultType="com.sanyi.framework.model.Nurse">
		SELECT t1.* ,
		t2.daiHao AS daiHao,
		t2.roomNum AS roomNum,
		t2.lzSex AS lzSex,
		t2.lzMinZu AS lzMinZu,
		t2.enterTime AS enterTime,
		t3.title as roomNumName FROM t_nurse t1
		LEFT JOIN t_lien_personnel t2 ON  t1.lienPersonnelid = t2.id
		LEFT JOIN t_room t3 ON  t3.id = t2.roomNum
		WHERE  t1.deleted = FALSE
		<if test="query!=null ">
           <if test="query.query.lienPersonnelid!=null and query.query.lienPersonnelid!=''">
              AND t1.lienPersonnelid = #{query.query.lienPersonnelid}
       	   </if>
       	    <if test="query.query.nursePower!=null and query.query.nursePower!=''">
              AND t1.nursePower = #{query.query.nursePower}
       	   </if>
       	    <if test="query.query.enterTime!=null and query.query.enterTime!=''">
              AND t2.enterTime  LIKE '%${query.query.enterTime}%'
       	   </if>
       	    <if test="query.query.createtime!=null and query.query.createtime!=''">
              AND t1.createtime  LIKE '%${query.query.createtime}%'
       	   </if>
       	   <if test="query.query.submitTime!=null and query.query.submitTime!=''">
              AND t1.submitTime  LIKE '%${query.query.submitTime}%'
       	   </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
            </choose>
       </if>
	</select>
	
   <!--在入住登记 查看看护列表-->  
    <select id="selectLienPersonnelJoinNurse" resultType="com.sanyi.framework.model.LienPersonnel">
      SELECT t1.*,t2.submitId AS submitId,
      			t2.submitTime AS   submitTime,
      			t2.id AS nurseId
      			FROM t_lien_personnel t1 
		LEFT JOIN t_nurse t2 ON t1.id  = t2.lienPersonnelid
		WHERE t1.deleted = FALSE and t2.lienPersonnelid IS NOT NULL
 	  <if test="query!=null">
           <if test="query.query.id!=null and query.query.id!=''">
              AND t1.id = #{query.query.id}
       	   </if>
       	   <if test="query.query.createtime!=null and query.query.createtime!=''">
              AND t2.createtime = #{query.query.createtime}
       	   </if>
       	   <if test="query.query.submitTime!=null and query.query.submitTime!=''">
              AND t2.submitTime = #{query.query.submitTime}
       	   </if>
       </if>
	</select>
	<!-- 问题反馈表 -->   
    <select id="selectFeedback" resultType="com.sanyi.framework.model.Feedback">
      SELECT t1.* ,
	       t2.daiHao AS daiHao,
	       t2.lzName AS lzName,
	       t2.lzSex AS lzSex, 
	       t2.lzAge AS lzAge, 
	       t2.lzZhiJi AS lzZhiJi, 
	       t2.enterTime AS enterTime
	        FROM t_feedback t1
			LEFT JOIN t_lien_personnel t2 ON  t1.lienPersonnelid = t2.id
			WHERE  t1.deleted = FALSE 
 	  <if test="query!=null ">
 	   	   <if test="query.query.enterTime!=null and query.query.enterTime!=''">
              AND t2.enterTime = #{query.query.enterTime}
       	   </if>
           <if test="query.query.lienPersonnelid!=null and query.query.lienPersonnelid!=''">
              AND t1.lienPersonnelid = #{query.query.lienPersonnelid}
       	   </if> 
       	   <if test="query.query.fkTime!=null and query.query.fkTime!=''">
              AND t1.fkTime = #{query.query.fkTime}
       	   </if>
       	  <if test="query.query.lzName!=null and query.query.lzName!=''">
              AND t2.lzName = #{query.query.lzName}
       	  </if> 
       	  <if test="query.query.bumenid!=null and query.query.bumenid!=''">
              AND t1.bumenid = #{query.query.bumenid}
       	  </if> 
       	  <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
            </choose>
       </if>
	</select>
	<!--改进情况反馈 -->
	
	  <!-- 谈话关联进驻 看护管理-查询谈话 列表 -->
   	<select id="talklist" resultType="com.sanyi.framework.model.Tanhuashenqing">
  		SELECT t1.*,t3.dicName as bumenString, t2.daiHao AS daiHao,t2.cuoShiType AS cuoShiType, t2.kanhuLiLiang AS kanhuLiLiang FROM t_tanhuashenqing t1 
		LEFT JOIN t_lien_personnel t2 ON t1.lpId = t2.id LEFT JOIN t_dictionary t3 on t1.bumen = t3.id
		WHERE   t1.deleted = FALSE and  t2.outStatus = '0' and t2.deleted = FALSE AND t1.shenpiStatus = '1'
		<if test="query!=null ">
           <if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t2.id = #{query.query.lpId}
       	   </if> 
       	   <if test="query.query.kanhuLiLiang!=null and query.query.kanhuLiLiang!=''">
              AND t2.kanhuLiLiang = #{query.query.kanhuLiLiang}
       	   </if> 
       	   <if test="query.query.tianBaoTime!=null and query.query.tianBaoTime!=''">
              AND t1.tianBaoTime LIKE '%${query.query.tianBaoTime}%'  
       	   </if>
       	   <if test="query.query.bumen!=null and query.query.bumen!=''">
              AND t3.id = #{query.query.bumen}
       	   </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod}
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
            </choose>
       </if>	
	</select>
   
   <!-- 进驻表关联餐饮表 -->
   <select id="selectLienPersonnelJoinCater" resultType="com.sanyi.framework.dto.LienPersonnelCaterDto">
       SELECT t1.*,t2.riqi AS riqi,
      			t2.cookingMan AS cookingMan,
      			t2.cookingManTwo AS cookingManTwo,
      			t2.cookingManThree AS cookingManThree,
      			t2.packingMan AS packingMan,
      			t2.packingManTwo AS packingManTwo,
      			t2.packingManThree AS packingManThree, 
      			t2.deliveryMan AS deliveryMan,
      			t2.deliveryManTwo AS deliveryManTwo,
      			t2.deliveryManThree AS deliveryManThree,
      			t2.receiveMan AS receiveMan,
      			t2.receiveManTwo AS receiveManTwo,
      			t2.receiveManThree AS receiveManThree,
      			t2.remarks AS remarks,
      			t2.breakfast AS breakfast,
      			t2.lunch AS lunch,
      			t2.dinner AS dinner,
      			t2.specificbreakfast AS specificbreakfast,
      			t2.specificlunch AS specificlunch,
      			t2.specificdinner AS specificdinner,
      			t2.id AS caterId,
      			t2.cateringMenu AS cateringMenu,
      			t2.lienPersonnelid AS lienPersonnelid
      			FROM t_lien_personnel t1 
		LEFT JOIN t_catering t2 ON t1.id  = t2.lienPersonnelid
		WHERE t1.deleted = FALSE AND t2.id IS NOT NULL 
 	  <if test="query!=null ">
           <if test="query.query.id!=null and query.query.id!=''">
              AND t1.id = #{query.query.id}
       	   </if>
       	   <if test="query.query.riqi!=null and query.query.riqi!=''">
              AND t2.riqi like '%${query.query.riqi}%'
       	   </if>
       </if>
	</select>
   
   <!-- 进驻表关联谈话申请表 -->
   <select id="selectLienPersonnelJoinTh" resultType="com.sanyi.framework.dto.LienPersonnelTHDto">
		      SELECT t1.*,t2.lpId AS lpId,
			     t2.bumen AS bumen,
			     t2.tianbaoren AS tianbaoren,
			     t2.tianBaoTime AS tianBaoTime,
			     t2.renyuan AS renyuan, 
			     t2.id AS thId,
			     t2.shenpiStatus AS shenpiStatus	
		 FROM t_lien_personnel t1 
		 LEFT JOIN t_tanhuashenqing t2 ON t1.id  = t2.lpId
		 WHERE t1.deleted = FALSE AND t2.id IS NOT NULL 
 	  <if test="query!=null ">
           <if test="query.query.id!=null and query.query.id!=''">
              AND t1.id = #{query.query.id}
       	   </if>
       	   <if test="query.query.tianBaoTime!=null and query.query.tianBaoTime!=''">
              AND t2.tianBaoTime = #{query.query.tianBaoTime}
       	   </if>
       </if>
	</select>
	
	 <!-- 进驻表关联保障申请表 -->
   <select id="selectLienPersonnelJoinBz" resultType="com.sanyi.framework.dto.LienPersonnelBzDto">
		      SELECT t1.*,t2.lpId AS lpId,
			     t2.bumen AS bumen,
			     t2.tianBaoTime AS tianBaoTime,
			     t2.chengbanbumen AS chengbanbumen,
			     t2.matter AS matter, 
			     t2.apply AS apply,
			     t2.applyStatus AS applyStatus,
			     t2.remark AS remark, 
			     t2.id AS bzId	
 				FROM t_lien_personnel t1 
 				LEFT JOIN t_baozhangshenqing t2 ON t1.id  = t2.lpId
 				WHERE t1.deleted = FALSE AND t2.deleted = FALSE
 	  <if test="query!=null ">
           <if test="query.query.id!=null and query.query.id!=''">
              AND t1.id = #{query.query.id}
       	   </if>

       	   <if test="query.query.daiHao!=null and query.query.daiHao!=''">
              AND t1.daiHao LIKE '%${query.query.daiHao}%'
       	   </if>
       	   <if test="query.query.enterTime!=null and query.query.enterTime!=''">
             <!-- AND t1.enterTime LIKE '%${query.query.enterTime}%'  -->
             AND t1.enterTime = #{query.query.enterTime}
       	   </if>

       	    <if test="query.query.applyStatus!=null and query.query.applyStatus!=''">
              AND t2.applyStatus = #{query.query.applyStatus}
       	   </if>
       	   <if test="query.query.tianBaoTime!=null and query.query.tianBaoTime!=''">
              AND t2.tianBaoTime LIKE '%${query.query.tianBaoTime}%'
       	   </if>
       	   <choose>
                <when test="query.sort.sortName!=null and query.sort.sortName!='' and query.sort.directionMethod!=null and query.sort.directionMethod!=''">
                    ORDER BY ${query.sort.sortName} ${query.sort.directionMethod},t1.daiHao DESC
                </when>
                <otherwise>
                    ORDER BY createtime DESC
                </otherwise>
            </choose>
       </if>
	</select>
	<!--进驻表关联体检表  -->
	<select id="selectLienPersonnelJoinHealth" resultType="com.sanyi.framework.model.LienPersonnel">
		SELECT t1.* ,
		t2.lpId AS lpId,
		t2.doctor AS doctor,
		t2.tiJianTime AS tiJianTime,
		t2.id AS hId
		FROM t_lien_personnel t1 
	    LEFT JOIN t_health t2 ON t1.id = t2.`lpId`
		WHERE t1.`deleted` = FALSE AND t2.`status` = '2'
		<if test="query!=null ">
			<if test="query.query.lpId!=null and query.query.lpId!=''">
              AND t2.lpId = #{query.query.lpId}
       	   	</if>
       	   	<if test="query.query.tiJianTime!=null and query.query.tiJianTime!=''">
              AND t2.tiJianTime like '%${query.query.tiJianTime}%'
       	   	</if>
		</if>
	</select>
	
	<!--常规体检的人员身体情况显示图  -->
	<select id="selectlzXinLv" resultType="com.sanyi.framework.dto.StatisticResultDto">
		SELECT t1.xinLv, t1.tiwen, t1.xueYa, DATE_FORMAT(t1.tiJianTime,'%Y-%m-%d') as tiJianTime,
		t1.gaoXueYa,t2.daiHao AS daihao
		FROM t_health t1
		LEFT JOIN
		t_lien_personnel t2 ON t1.lpId = t2.id
		WHERE t1.`deleted` = FALSE and t1.status = '2'
		<if test="query!=null ">
			<if test="query.lId!=null and query.lId!=''">
				AND t1.lpId = #{query.lId}
			</if>
			<if test="query.startTime!=null and query.startTime!=''">
		             <![CDATA[ AND t1.tiJianTime >= #{query.startTime} ]]>
			</if>
			<if test="query.endTime!=null and query.endTime!=''">
		              <![CDATA[ AND t1.tiJianTime <= #{query.endTime} ]]>
			</if>
		</if>
		ORDER BY t1.tiJianTime ASC
	</select>
	<!--查询所有楼层房间列表  -->
	<select id="selectRoom" resultType="com.sanyi.framework.model.Room">
		select t1.daiHao,t2.title,t2.fixationValue,t2.floorTier,t_bed.title AS bedName from t_lien_personnel t1 left
		join t_room t2 on t1.roomNum = t2.id LEFT JOIN t_bed ON t_bed.id = t1.bedNum where t1.deleted = false and t1.outStatus = '0'
		<if test="query!=null ">
			<if test="query.query.floorTier!=null and query.query.floorTier!=''">
				AND t2.floorTier = #{query.query.floorTier}
			</if>
		</if>
		ORDER BY t2.title ASC
	</select>
	
	<!--查询所有房间床位列表  -->
	<select id="selectBed" resultType="com.sanyi.framework.model.Bed">
		select t1.*,t2.daihao as  daiHao, t3.dicName as buMen,t2.enterTime as jinzhuTime from 
		(select t1.* from t_bed t1 left join t_room t2 on t1.roomId = t2.id where t1.deleted = false and t2.deleted = false  
				<if test="query!=null ">
			<if test="query.query.key!=null and query.query.key!=''">
				and t2.fixationValue = #{query.query.key}
			</if>
		</if>
		) t1 left join (SELECT * from t_lien_personnel where outStatus='0' and deleted = false)  t2 on t1.id = t2.bedNum left join t_dictionary t3 on t2.cbDepartment = t3.id
		ORDER BY t1.title ASC
	</select>
	<!--留置人员谈话情况统计  -->
	<select id="selectStatisticTanHua" resultType="com.sanyi.framework.dto.StatisticTanHuaDto">
		select  DATE_FORMAT(t1.createtime,'%Y-%m-%d') as submitTime,
		        count(DATE_FORMAT(t1.createtime,'%Y-%m-%d')) as count,
		        sum(if(ROUND((UNIX_TIMESTAMP(t1.jieshushijian)-UNIX_TIMESTAMP(t1.kaishishijian))/60) is not null,ROUND((UNIX_TIMESTAMP(t1.jieshushijian)-UNIX_TIMESTAMP(t1.kaishishijian))/60),0)) as duration 
		from (select createtime,(if (date_format(talkStartTime,'%Y%m%d') is not null, talkStartTime, null)) as kaishishijian,max(if(date_format(talkEndTime,'%Y%m%d') is not null, talkEndTime, null)) as jieshushijian from t_lien_tanhua where deleted = false 
		and nurseId in (select id from t_nurse where deleted = false and lienPersonnelid = #{query.lId} and DATE_FORMAT(submitTime,'%Y-%m-%d') >= #{query.startTime} AND DATE_FORMAT(submitTime,'%Y-%m-%d') <![CDATA[<=]]> #{query.endTime}) GROUP BY cishu) t1 group by DATE_FORMAT(t1.createtime,'%Y-%m-%d');
	<!-- <if test="query!=null ">
		<if test="query.lId!=null and query.lId!=''">
			AND t1.lienPersonnelid = #{query.lId}
		</if>
		<if test="query.startTime!=null and query.startTime!=''">
	             <![CDATA[ AND t1.submitTime >= #{query.startTime} ]]>
		</if>
		<if test="query.endTime!=null and query.endTime!=''">
	              <![CDATA[ AND t1.submitTime <= #{query.endTime} ]]>
		</if>
	</if>
	GROUP BY t1.id ORDER BY t1.submitTime ASC -->
	</select>

    <select id="selectDrugFeiYong" resultType="com.sanyi.framework.model.Drug">
        SELECT t1.*,t2.`dicName` AS drugNameString,t1.drugTotalCount * t1.price as cost
        FROM t_drug t1 LEFT JOIN t_dictionary t2 ON t1.drugName = t2.`id` WHERE t1.deleted = FALSE

        <if test='drugNameString!="" and drugNameString!=null and drugNameString!= "undefined"'>
            AND t2.dicName like '%${drugNameString}%'
        </if>

        <if test='start!=null and start!="" and start!= "undefined" and end!="undefined" and end!=""'>
            AND t1.createtime between '${start}' and '${end}'
        </if>

        ORDER BY createtime DESC
    </select>
	<!--	根据楼层查询楼层的留置人列表-->
	<select id="selectLienPersonnelByFloorTier" resultType="com.sanyi.framework.model.LienPersonnel">
		select t1.*,t2.title as roomName,t3.title as bedName,t4.dicName as kanhuLiLiangString	from t_lien_personnel t1
		left join t_room t2 on t1.roomNum  = t2.id
		left join t_bed t3 on t1.bedNum  = t3.id
		left join t_dictionary t4 on t1.kanhuLiLiang  = t4.id
		where t1.outStatus = '0' and t2.floorTier=${floorTier} order by t2.title ASC
	</select>

</mapper>